.discussions-header {
    border: 1px solid black;
}

.discussion-single {
    border: 1px solid #bbbbbb;

}

.discussionpage-main {
    border: 1px solid #999999
}

.contribution-single {
    border: 1px solid #999999
}